.flexRow--call-to-action-container {
    padding: 8em 4em 4em 4em;
}

.flexRow--slider-products-home {
    padding: 4em 4em 8em 4em;
}

.flexRowContent--call-to-action-container,
.flexRowContent--slider-products-home {
    max-width: 1170px;
    margin: 0 auto;
}

.flexRow--call-to-action-text-container {
    margin-bottom: 30px;
}

.flexRow--call-to-action-button-container {
    display: inline-block;
}