.container--testes {
	padding: 30px;
	background-color: #f8f8f8;
}

.container--testes-funcionais {
	border: 2px solid rgb(248, 241, 241);
	border-radius: 5px;
	margin: 50px;
	padding: 60px;
	background-color: #fff;
}

.container--testes-visuais {
	border: 2px solid rgb(248, 241, 241);
	border-radius: 5px;
	margin: 50px;
	padding: 60px;
	background-color: #fff;
}

.container--bloco-por-onde,
.container--arquitetura-automatizadas,
.container--arquitetura-visuais,
.container--infraestrutura {
	padding: 30px;
}
