.flexRowContent--service-quadrants-itens {
    flex-wrap: wrap;
}

.flexRowContent--service-quadrants-row {
    display: flex;
}

.flexCol--quadrant-container {
    position: relative;
    transform-style: preserve-3d;
    height: 400px;
}

.flexCol--quadrant-container:hover {
    transform: rotateY(180deg);
}

.flexCol--quadrant-container .flexColChild--quadrant-container:first-child,
.flexCol--quadrant-container .flexColChild--quadrant-container:last-child {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flexCol--quadrant-container .flexColChild--quadrant-container:last-child {
    transform: rotateY(180deg);
}