.flexRowContent--testimonials {
    max-width: 1170px;
    margin: 0 auto;
    padding: 4em 2em 4em 2em;
}

.flexRow--testimonials {
	background-color: #f1f1f1;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	padding: 40px;
}