.flexRowContent--testimonials {
    max-width: 1170px;
    margin: 0 auto;
    padding: 4em 0em 4em 0em;
}

.flexRow--testimonials {
	background-color: #f1f1f1;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	padding: 40px;
}

@media screen and (max-width: 650px) {
	.flexCol--testimoninal-person-image-container {
		align-items: center;
	}
}