.flexRowContent--futureRow {
	display: flex;
	flex-wrap: wrap-reverse;
	margin-bottom: 60px;
}

.flexColChild--image_future {
	padding: 20px 10px 10px 0px;
}

.flexRowContent--iconsRow {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 60px;
}

.flexColChild--iconsCol {
	display: flex;
	justify-content: center;
}

.flexRowContent--clientsRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px;
	margin-bottom: 60px;
	padding: 0px 60px;
}

.flexCol--clientsCol {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.flexColChild--clientsCol {
	width: 100px;
	gap: 10px;
	height: auto;
}

.flexRowContent--personRow {
	width: 900px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.flexColChild--infoPerson {
	width: 250px;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

@media (max-width: 750px) {
	.flexCol--clientsCol {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
	}

	.flexRowContent--personRow {
		width: 400px;
		display: flex;
		flex-wrap: nowrap;
		gap: 10px;
		justify-content: space-around;
	}

	.flexColChild--infoPerson {
		width: 150px;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
	}
}

@media (max-width: 840px) {
	.flexColChild--image_future {
		display: flex;
		align-items: center;
		padding: 20px;
	}
}
