.flexRow--header-desktop-container,
.flexRow--header-mobile-container {
    background: #fff;
}

.flexRow--header-container,
.flexRow--header-mobile-container {
    position: sticky;
    height: 90px;
    display: flex;
}