.imageElement--icon_contact {
	width: 35%;
	position: relative;
}

.imageElement--image_clients {
	filter: saturate(0);
}

.imageElement--image_clients:hover {
	filter: saturate(1);
}

.imageElement--imageTeam {
	width: 150px;
	height: 150px;
	filter: brightness(75%);
	border-radius: 50%;
	display: block;
	border: 3px solid #dedede;
}

.imageElement--imageTeam:hover {
	filter: brightness(100%);
}

@media (max-width: 750px) {
	.imageElement--icon_contact {
		width: 20%;
	}
}

@media (min-width: 800px) {
	.imageElement--icon_contact:hover {
		opacity: 0.8;
		width: 32%;
		transition: 0.3s;
	}
}