.paragraph {
    font-family: 'OpenSans';
}

.heading {
    font-family: 'OpenSans Condensed';
    margin: 0.75rem 0 1.5rem 0;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
}

.heading .strong,
.heading--blink::after {
	color: #fcc200;
}

.heading--block-title::after
.heading--blink::after {
	content: "_";
}

.container--page-header {
	padding-left: 15px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.headingLevel4--team-member-name {
    margin: 15px 0 0;
    font-size: 16px;
    color: #040404;
    line-height: 1.4;
}

.headingLevel5--country {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.3;
}

.headingLevel5--testimonial-person-name {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-top: 10px;
}

.paragraph--testimonial-person-office {
    margin: 0;
    color: #888;
}

.paragraph--testimonial-text {
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #666;
    margin: 2.5rem 0 40px;
}

.headingLevel6--headline-description {
    font-family: 'OpenSans'; 
    color: #1d1d1d;
    margin: 1.5rem 0;
    font-size: 1rem;
    line-height: 1.5; 
}

.headingLevel6--slogan {
    font-family: 'OpenSans Condensed'; 
    font-size: 20px;
    line-height: 25px;
    color: #040404;
    margin: 0.75rem 0 1.5rem 0;
}

.wrapper--team-member-office {
    max-width: 150px;
    height: 50px;
    text-align: center;
    align-items: center;
}

.heading--block-title::after,
.headingLevel1--page-header::after {
	color: #fcc200;
    content: "_";
}

.headingLevel3--block-title {
	font-size: 2rem;
	color: #040404;
}

.headingLevel3--why-acct-item-description {
    font-size: 14px;
    text-transform: initial;
    letter-spacing: 0px;
    color: #717786;
}

.heading--team-title {
    margin: 0.75rem 0 0 0; 
}

.headingLevel1--page-header {
    color: #fff;
    line-height: 1;
    font-size: 2.25rem;
    margin: 0.75rem 0 1.5rem 0;
    text-rendering: optimizeLegibility;
    display: block;
}

.headingLevel2--page-header {
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 1;
}

.container--page-title {
    margin: 0em 0em 2em 0em;
}

@keyframes blink {
	0% {
		content: "";
	}

	100% {
		content: "_";
	}
}

.headingLevel1--blink::after {
    display: inline-block;
    animation: blink 1s infinite;
}

.headingLevel3--headline {
	font-size: 2rem;
	color: #040404;
}

.headingLevel2--page-title {
    font-size: 3rem;
    line-height: normal;
    color: #040404;
}

.headingLevel2--title-service-card {
    color: #040404;
    font-size: 3rem;
    line-height: normal;
}

.headingLevel3--title-service-card {
    color: #040404;
    font-size: 2rem;
    line-height: normal;
}

.headingLevel3--vtex-text {
    color: #fff;
    line-height: 1.1;
    font-size: 26px;
    font-family: "OpenSans Condensed";
}

.paragraph--address {
    color: #222;
    margin: 1.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .3px;
    line-height: 1.5;
}

.paragraph--team-member-office {
    font-size: 13px;
    margin: 0;
}

.paragraph--text-service-card {
    color: #1d1d1d;
}

.listItem--country-list-item {
    font-family: 'OpenSans';
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.5;
}

.paragraph--banner-detail,
.paragraph--banner-list-item {
    color: #ffffff;
    font-size: 112.5%;
    text-shadow: none;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: normal;
    margin: 0;
}

.paragraph--banner-list-item::before {
    content:"\A";
    width:16px;
    height:16px;
    border-radius:50%;
    background: #fcc200;
    display:inline-block;
    margin: 0 10px;
}

.headingLevel1--banner-title {
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 61px;
    margin-top: 0px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1023px) {
    .headingLevel1--banner-list-title {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .container--testimonial-person-name,
    .container--testimonial-person-office {
        justify-content: center;
    }
}