.container--bloco-one {
	background-color: #f8f8f8;
}

.wrapper--bloco-one {
	color: #000;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 80px;
	background-color: #f8f8f8;
}

.paragraph--bloco-simples {
	width: 100%;
	font-size: 20px;
	color: #000;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 150px;
	background-color: #f8f8f8;
}

.wrapper--bloco_citacao {
	color: #000;
}

.heading--bloco_citacao {
	padding-left: 50px;
	font-size: 50px;
}
